[ req ]
default_bits = 2048
prompt = no
encrypt_key = no
default_md = sha256
distinguished_name = dn
req_extensions = v3_req

[ dn ]
countryName         = IT
stateOrProvinceName = Yourcity
localityName        = Yourcity
organizationName    = ACME S.p.A.
commonName          = Certificato client Batch Service - ACME S.p.A.
emailAddress        = support@acme.it

[ v3_req ]
extendedKeyUsage = critical, clientAuth
basicConstraints = critical, CA:FALSE
keyUsage         = digitalSignature


